@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
}
html, body, #root {
  height: 100%;
  overflow: hidden;
  margin: 0;
}
body {
  background: #fff;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 0.96rem;
  font-weight: 300;
}
header{
  position: relative;
  min-height: 100vh;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5.7rem;
}
.fInputTxt {
  display: flex;
  height: 100%;
  justify-content: center;
  margin: 0 15px;
  flex-direction: column;
}
.headline {
  display: flex;
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin: 0 15px;
  flex-direction: column;
  font-size: 1.2rem;    
  height: 19rem;
}
.inp {
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 280px;
  height: 53px;
}
.inp .border {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 18px;
  fill: none;
}
.inp .border path {
  stroke: #c8ccd4;
  stroke-width: 2;
}
.inp .border path d {
  transition: all 0.2s ease;
}
.inp .check {
  position: absolute;
  top: 20px;
  right: 20px;
  fill: none;
  transform: translate(0, 9px) scale(0);
  transition: all 0.3s cubic-bezier(0.5, 0.9, 0.25, 1.3);
  transition-delay: 0.15s;
}
.inp .check path {
  stroke: #BF1E2E;
  stroke-width: 2;
}
.inp input {
  -webkit-appearance: none;
  width: 100%;
  border: 0;
  font-family: inherit;
  padding: 0;
  height: 48px;
  font-size: 16px;
  font-weight: 500;
  background: none;
  border-radius: 0;
  color: #223254;
  transition: all 0.15s ease;
}
.inp input:focus {
  outline: none;
}
.inp input:focus + .border path {
  stroke: #BF1E2E;
}
.inp input:valid + .border path {
  animation: elasticInput 0.8s ease forwards;
}
.inp input:valid + .border + .check {
  transform: translate(0, 0) scale(1);
}
::placeholder {
  color: #9098a9;
}
@-moz-keyframes elasticInput {
  33% {
    d: path("M0,12 L226,12 C220,12 220.666667,12 228,12 C239,12 245,1 253,1 C261,1 268,12 278,12 C284.666667,12 285.333333,12 280,12");
  }
  66% {
    d: path("M0,12 L226,12 C220,12 220.666667,12 228,12 C239,12 245,17 253,17 C261,17 268,12 278,12 C284.666667,12 285.333333,12 280,12");
  }
}
@-webkit-keyframes elasticInput {
  33% {
    d: path("M0,12 L226,12 C220,12 220.666667,12 228,12 C239,12 245,1 253,1 C261,1 268,12 278,12 C284.666667,12 285.333333,12 280,12");
  }
  66% {
    d: path("M0,12 L226,12 C220,12 220.666667,12 228,12 C239,12 245,17 253,17 C261,17 268,12 278,12 C284.666667,12 285.333333,12 280,12");
  }
}
@-o-keyframes elasticInput {
  33% {
    d: path("M0,12 L226,12 C220,12 220.666667,12 228,12 C239,12 245,1 253,1 C261,1 268,12 278,12 C284.666667,12 285.333333,12 280,12");
  }
  66% {
    d: path("M0,12 L226,12 C220,12 220.666667,12 228,12 C239,12 245,17 253,17 C261,17 268,12 278,12 C284.666667,12 285.333333,12 280,12");
  }
}
@keyframes elasticInput {
  33% {
    d: path("M0,12 L226,12 C220,12 220.666667,12 228,12 C239,12 245,1 253,1 C261,1 268,12 278,12 C284.666667,12 285.333333,12 280,12");
  }
  66% {
    d: path("M0,12 L226,12 C220,12 220.666667,12 228,12 C239,12 245,17 253,17 C261,17 268,12 278,12 C284.666667,12 285.333333,12 280,12");
  }
}

.btn-enter {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  border: transparent;
  color: #fff;
  width: 150px;
  height: 40px;
  left: 104px;
  background: #BF1E2E;
  border-radius: 5px;
  text-decoration: none;
  padding: 5px 24px;
  margin: 4px;
  text-align: center;
}
.back {
  text-align: center;
  display: flex;
  justify-content: center;
}
.bg {
  position: absolute;
  /* width: 330px; desktop
  height: 300px; */
  width: 249px;   /* notebook*/
  height: 200px; /* notebook*/
  top: 142px;
  background: #E3E3E3;
  border-radius: 15px;
  margin-top: -6rem;
  }
  .central {
    text-align: center;
    justify-content: center;
    align-items: center;
  }
.questionTheme {
  position: absolute;

}
.imgMath {
  right: 41px;
  /* width: 25rem; desktop
  height: 20rem; */
  width: 20rem; /*notebook*/
  height: 14rem; /*notebook*/
}
.imgHis {
  right: 70px;
  /* width: 29rem; desktop
  height: 20rem; */
  width: 24rem; /*notebook*/
  height: 14rem; /*notebook*/
}
.imgFil {
  right: 67px;
  /* width: 29rem; desktop
  height: 20rem; */
  width: 24rem;
  height: 14rem;
}
.imgNat {
  right: 67px;
  /* width: 29rem; desktop
  height: 20rem; */
  width: 24rem; /*notebook*/
  height: 14rem; /*notebook*/

}
.imgGeral {
  /* width: 19rem; desktop*/ 
  width: 12rem; /*notebook*/
}
.questionText {
  /* margin-top: 22rem; desktop
  margin-left: 0rem; */
  margin-top: 16rem; /*notebook*/
  font-size: 16px;  /*notebook*/
}
.A {
  background-color: #fff;
  border:#BF1E2E;
}
/* .answers {
  margin-top: 28rem;
  left: -15rem;
} */